body {
    background-color: rgb(255, 242, 224);
    text-align: center
}

h1 {
    font-family: 'Righteous', cursive;
    color: rgb(87, 63, 33)
}

p {
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 31, 4)
}

li {
    display: inline;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 31, 4);
    text-decoration: none; 
}

ul a {
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 31, 4);
    text-decoration: none; 
}

ul a:visited {
    color: rgb(54, 31, 4);
    text-decoration: none;
}

ul a:hover {
    color: rgb(54, 31, 4);
    text-decoration: none;
}

ul a:focus {
    color: rgb(54, 31, 4);
    text-decoration: none;
}

ul a:hover, a:active {
    color: rgb(54, 31, 4);
    text-decoration: none;
}