* {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEdJREFUeAF90FEKgDAMwFDT+x9awYCRwjL282CM9joFsGie/swYy6oiENW8RaJ5PBvxvCpqxfwetTOqeyo+Rgx3JjnrCxNa3TwuAY6NyoMhAAAAAElFTkSuQmCC), auto;
}

body {
    background-color: rgb(255, 242, 224);
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: 'Righteous', cursive;
    color: rgb(87, 63, 33);
    margin-bottom: 0px;
}

h6 {
    margin: 0px;
}

button {
    font-family: 'Nunito', sans-serif;
    border: none;
    background: none;
}

p {
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 31, 4);
}

p a{
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(199, 246, 255);
}

p a:visited {
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(199, 246, 255);
}

p a:hover {
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(199, 246, 255);
}

p a:focus {
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(199, 246, 255);
}

p a:hover, a:active {
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(199, 246, 255);
}

ul, menu, dir {
    padding-inline-start: 0px;
    padding-left: 0px;
}

li {
    display: inline;
    list-style-type: none;
    font-family: 'Nunito', sans-serif;
    color: rgb(54, 31, 4);
    text-decoration: none; 
    font-size: larger;
    padding: 6px;
}

ul a {
    color: rgb(54, 31, 4);
    text-decoration: none; 
}

ul a:visited {
    color: rgb(54, 31, 4);
    text-decoration: none;
}

ul a:hover {
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(233, 199, 255);
}

ul a:focus {
    color: rgb(54, 31, 4);
    text-decoration: none;
}

ul a:hover, a:active {
    color: rgb(54, 31, 4);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(233, 199, 255);
}